<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JJAwesomeMenuDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>581E2C6C1DB0D087000C7AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581E2C851DB0D087000C7AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581E2C901DB0D087000C7AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
